
.login_handler{

    padding: 3rem;
    border:4px solid #A5B4FC;
    margin-top: 5rem;
    margin-left: 35rem;
    display: inline-block;
    border-radius: 5px;
    background-color:#e4e6ee;
    padding: 4rem;  
}

.user{
  width: 15rem;
  height: 2.3rem;
}

.login_page{
  padding: 1rem;
  margin-top: -3rem;
}

.submit_bt{
    width: 9rem;
    margin-top: 1rem;
    height: 2rem;

}

.signup .framhandler {
  padding: 10px;
  border:4px solid #A5B4FC;
  margin-top: 4rem;
  margin-left: 2rem;
  display: inline-block;
  border-radius: 5px;
  background-color:#e4e6ee;
  padding: 20px; 
}

.userinput{
  width: 20rem;
  height: 3rem;
}
.sub_button{
  width: 9rem;
  height: 2.5rem;
}

.redirectlogin{
  width: 9rem;
  height: 2.5rem;
}

.guestlogin{
  width: 2rem;
  height: 2rem;
}