
.login_handler{

    padding: 3rem;
    border:40px solid #A5B4FC;
    margin-top: 5rem;
    margin-left: 28rem;
    display: inline-block;
    border-radius: 5px;
    background-color:#A5B4FC;
    padding: 19px;  
}

.user{
  width: 15rem;
  height: 2.3rem;
}

.login_page{
  padding: 1rem;
  margin-top: -3rem;
}

.submit_bt{
    width: 5rem;
    margin-top: 1rem;
    height: 1.5rem;

}

.signup .framhandler {
  padding: 10px;
  border:2 px solid #A5B4FC;
  margin-top: 4rem;
  margin-left: 2rem;
  display: inline-block;
  border-radius: 5px;
  background-color:#A5B4FC;
  padding: 20px; 
}

.userinput{
  width: 20rem;
  height: 3rem;
}
.sub_button{
  width: 9rem;
  height: 2.5rem;
}

